h1 {
    height: 130px;
}

.profile-pic {
/* width: 250px;
height: 250px; */
padding-bottom: 3%;
margin-bottom: 10%;
overflow:hidden;
-webkit-border-radius:100px;
-moz-border-radius:100px;
border-radius:150px;
width:400px;
height:300px;
}

.btn {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#C70039;
    text-align:center;
    transition: all 0.2s;
}
.btn:hover{
    background-color:#3EBE21;
}

.profile {
    margin: 0% 5% 5% 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.bloc1 {
    border: #848081;
    /* border-style: solid; */
    width: 36%;
    align-items: center;
    padding: 1% 2%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
}

.bloc2 {
    border: #bdb9b9;
    border-style: solid;
    border-radius:5px;
    width: 63%;
    padding: 1% 2%;
    color: black;
}

label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    font-weight: bold;
    text-align: left;
  }

  .bloc {
      margin-bottom: 2%;
  }

  .Form-edit {
    max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
  }

  .Form-edit ul{
	list-style:none;
	padding:0;
	margin:0;
  }

  .Form-edit li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}

.Form-edit li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}

.Form-edit li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 20px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
}

.Form-edit input[type="text"],
.Form-edit input[type="email"],
.Form-edit input[type="password"],
.Form-edit input[type="file"]
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
}

.Form-edit li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}